<table>
    <thead>
      <tr>
        <th>Flag</th>
        <th>Country</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let travel of travels">
        <td><img [src]="travel.flagUrl" alt="Flag"></td>
        <td>{{ travel.country }}</td>
        <td>{{ travel.start }}</td>
        <td>{{ travel.end }}</td>
        <td>{{ travel.note }}</td>
        <td>
          <button (click)="deleteTravel(travel)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  